{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/top_menu.html"}}

	<div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
		<div class='col-md-10'>
			<div class='panel'>
				<div class='panel-heading'>
					<strong><i class='icon-list-ul'></i>&nbsp;{{$la.officenews.common}}</strong>
					<div class='panel-actions'><a href='{:U('news/officenews/add/default.html')}' class="btn btn-primary"><i class="icon-plus"></i> {{$la.officenews.create}}</a>
				    </div>
				</div>
				{{if !empty($list)}}
				<!-- <form id='sortForm'
					action='/chanzhieps/www/admin.php?m=slide&f=sort' method='post'>-->
				  <table class='table table-hover table-striped tablesorter'>
				    <thead>
				      <tr>
		                <th class='text-center w-60px'><div class='{{if $orderby=="id" and $sort=="desc"}}headerSortDown{{elseif $orderby=="id" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/id/sort/{{if $orderby == "id"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.id}}</a>
				</div></th>
				        <th class='text-center'><div class='{{if $orderby=="title" and $sort=="desc"}}headerSortDown{{elseif $orderby=="title" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/title/sort/{{if $orderby == "title"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.title}}</a>
				</div></th>
				        <th class='text-center w-160px'><div class='{{if $orderby=="createby" and $sort=="desc"}}headerSortDown{{elseif $orderby=="createby" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/createby/sort/{{if $orderby == "createby"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.author}}</a>
                </div></th>
				        <th class='text-center w-160px'><div class='{{if $orderby=="createtime" and $sort=="desc"}}headerSortDown{{elseif $orderby=="createtime" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/createtime/sort/{{if $orderby == "createtime"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.addedDate}}</a>
				</div></th>
				        <th class='text-center w-60px'><div class='{{if $orderby=="views" and $sort=="desc"}}headerSortDown{{elseif $orderby=="views" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/views/sort/{{if $orderby == "views"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.views}}</a>
				</div></th>
				        <th class='text-center w-160px'><div class='{{if $orderby=="status" and $sort=="desc"}}headerSortDown{{elseif $orderby=="status" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/status/sort/{{if $orderby == "status"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.status}}</a>
                </div></th>
				        <th class='text-center w-160px'><div class='{{if $orderby=="public" and $sort=="desc"}}headerSortDown{{elseif $orderby=="public" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='{:U('news/officenews/default/sort/currpage/{{$currpage}}/orderby/public/sort/{{if $orderby == "public"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}' >{{$la.article.publicstatus}}</a>
                </div></th>
				        <th class='text-center w-150px'>{{$la.actions}}</th>
				      </tr>
				    </thead>
				    <tbody>
				    {{foreach from=$list item="kv"}}
                        <tr>
                        <td class='text-center'>{{$kv.id}}</td>
                        <td>{{if $kv.top == '1'}}<small class="label label-success">{{$la.article.settop}}</small>{{/if}}<a href="{:U('site/news/officenews/detail/default/{{$kv.id}}.html')}" target="_blank" style="display:inline;">{{$kv.title}}</a></td>
                        <td class='text-center'>{{$kv.createname}}</td>
                        <td class='text-center'>{{$kv.createtime}}</td>
                        <td class='text-center'>{{$kv.views}}</td>
                        <td class='text-center {{if $kv.status == "1"}}is-visible{{/if}}'>{{if $kv.status == "1"}}{{$la.article.normal}}{{else}}{{$la.article.draft}}{{/if}}</td>
                        <td class='text-center {{if $kv.public == "1"}}is-visible{{/if}}'>{{if $kv.public == "1"}}{{$la.officenews.published}}{{else}}{{$la.officenews.unpublished}}{{/if}}</td>
                        <td class='text-center'>
                        {{if $kv.status=="1" and $publishauth == '1'}}
                          <a href='{:U('news/officenews/default/publish/{{$kv.id}}.json')}' class="publisher">{{if $kv.public == "0"}}{{$la.article.public}}{{else}}{{$la.article.unpublic}}{{/if}}</a>
                        {{/if}}
                        {{if $kv.public == "1" and $kv.status=="1" and $settopauth == '1' and $kv.top != '1'}}
                          <a href='{:U('news/officenews/default/settop/objecttype/officenews/id/{{$kv.id}}.json')}' class="settoper">{{$la.article.settop}}</a>
                        {{/if}}
                        {{if $kv.public == "1" and $kv.status=="1" and $settopauth == '1' and $kv.top == '1'}}
                          <a href='{:U('news/officenews/default/settop/objecttype/officenews/id/{{$kv.id}}.json')}' class="settoper">{{$la.article.unsettop}}</a>
                        {{/if}}
                        {{if $kv.public == "0"}}
                          <a href='{:U('news/officenews/edit/default/id/{{$kv.id}}.html')}' >{{$la.article.editor}}</a>
                        {{/if}}
			                <a href='{:U('system/topimage/edit/default/objecttype/officenews/objectid/{{$kv.id}}.modal')}' data-toggle='modal'>{{$la.article.cover}}</a>
			            {{if $kv.public == "0"}}
			                <a href='{:U('news/officenews/default/delete/id/{{$kv.id}}.json')}' class="deleter">{{$la.delete}}</a>
			            {{/if}}
                        </td>
                        </tr>
				    {{/foreach}}
				          </tbody>
				    <tfoot><tr><td colspan='8'>
				    <div style='float:right; clear:none;' class='page form-inline'>
				    {{$pagelink}}
				        </div></td></tr></tfoot>
				  </table>
				  {{/if}}
			</div>
		</div>
	</div>
	{{include file="$WWW_PATH/footer.html"}}

    {{ex fn='exportJs'}}
</body>
</html>
