ul.navList {
    padding-left: 0;
}
.navList li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #dddddd #dddddd;
    border-image: none;
    border-style: none none dotted dotted;
    border-width: medium medium 1px 1px;
    list-style: none outside none;
    padding: 8px 8px 8px 5px;
}
.grade2 {
    margin-left: 30px;
}
.grade2 li:last-child {
    border-bottom: medium none;
}
.grade3 {
    margin-left: 60px;
}
.grade3 li:last-child {
    border-bottom: medium none;
}
i {
    cursor: pointer;
}
label {
    font-size: 13px;
    font-weight: 500;
}
.urlInput {
    width: 360px;
}
.navList .form-control {
	/*
    max-width: 200px;
    min-width: 100px;
    */
    width: auto;
}
.panel-body > form {
    max-width: 10000px;
}
.navList .icon-folder-open, .navList .icon-folder-close, .navList .icon-arrow-up, .navList .icon-arrow-down {
    margin-right: 6px;
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}
.navList li:hover .icon-folder-open, .navList li:hover .icon-folder-close, .navList li:hover .icon-arrow-up, .navList li:hover .icon-arrow-down {
    opacity: 1;
}
.navList .icon-arrow-up, .navList .icon-arrow-down {
    color: #384d7a;
}
.select-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: middle;
}

.addr {
	width:550px;
}
