{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/top_menu.html"}}
    {{*include file="$WWW_PATH/kindeditor.html"*}}
	<div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
		<div class='col-md-10'>
			<div class='panel'>
				<div class='panel-heading'>
					<strong><i class='icon-list-ul'></i>&nbsp;{{$la.message.common}}</strong>
				    </div>
				</div>
				{{if !empty($list)}}
				 <form id='replyForm'
					action="{:U('weixin/message/default/quickreply.json')}" method='post'>
				  <table class='table table-hover table-striped tablesorter'>
				    <thead>
				      <tr>
		                <th class='text-center w-60px'>{{$la.message.headimg}}</th>
				        <th class='text-center w-100px'> </th>
				        <th class='text-center w-200px'>{{$la.message.content}}</th>
				        <th class='text-center w-100px'>{{$la.message.createtime}}</th>
				        <th class='text-center w-200px'>{{$la.actions}}</th>
				      </tr>
				    </thead>
				    <tbody>
				    {{foreach from=$list item="kv"}}
                        <tr data-openid="{{$kv.openid}}" data-mid="{{$kv.id}}">
                        <td class='text-center'>
                                <a href='{:U('weixin/message/chat/default.html?openid={{$kv.openid}}&filetype=image')}' target="_blank"><img class="image-small" width="64" height="64" src="{{$kv.headimgurl}}"></a></td>
                        <td class='text-left'>{{$kv.nickname}}{{if $kv.remarkname != ""}}{{$kv.remarkname}}{{/if}}</td>
                        <td class='text-left'>{{$kv.content}}</td>
                        <td class='text-center'>{:date("Y-m-d H:i:s" , {{$kv.createtime}})}</td>
                        <td class='text-center'>
                          <a href='javascript:void(0);' class="quickreply">{{$la.message.quickreply}}</a>
                        </td>
                        </tr>
				    {{/foreach}}
				          </tbody>
				    <tfoot><tr><td colspan='11'>
				    <div style='float:right; clear:none;' class='page form-inline'>
				    {{$pagelink}}
				        </div></td></tr></tfoot>
				  </table>
				  {{/if}}
			</div>
		</div>
	</div>
	{{include file="$WWW_PATH/footer.html"}}
    <script type="text/javascript">
	    var replyform = "<tr id='replyform'>"+
	    "<td class='text-center'>"+
	        "</td>"+
	        "<td colspan='10'>"+
	                         "           快速回复：</br>"+
	        "<textarea cols='100' rows='8' id='content' name='data[content]'></textarea><br><br>"+
	        "还可以输入<span class='wordcount' data-length='140'>140</span>字"+
	        "<br>"+
	        "<br>"+
	        "<input type='button' id='submit'  class='btn btn-primary' value='{{$la.message.send}}'"+
	        "        data-loading='{{$la.loading}}' />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+
	        " <input type='button' class='btn btn-default goback' value='{{$la.message.hide}}' />"+
	        " <input type='hidden' name='data[openid]' value='' />"+
	        " <input type='hidden' name='data[mid]' value='' />"+
	        "</td>"+
	    "</tr>";
    </script>
    {{ex fn='exportJs'}}
</body>
</html>
