{{include file="$WWW_PATH/header.html"}}
<body class="front_page">
{{include file="$WWW_PATH/topbanner.html"}}
{{include file="$WWW_PATH/menu.html"}}
<link rel="stylesheet" type="text/css" href="css/front.css" />
<div class="content">
    <section class="wrap">
        <div class="page_left">
            {{include file="$WWW_PATH/yumeitongxing.html"}}
            {{include file="$WWW_PATH/team.html"}}
            {{include file="$WWW_PATH/case.html"}}
        </div>
        <div class="page_right">
            <div class="bread">{{$la.position}}<a href="./">{{$la.home}}</a><i>&gt;</i><a href="article_material-list-default.html">{{$la.material}}</a><i>&gt;</i><span>{{$la.detail}}</span></div>
            <div class="page_content page_info">
                <h1>{{$title}}</h1>
                <div class="txt"><span>{{$la.publishtime}}<em>{{$createtime}}</em></span><span>{{$la.views}}{{$views}}次</span></div>
                <div class="info">
                   {{$nofilter.content}}
                </div>
                <!--
                <div class="sub_page"><p>{{$la.prev}}{{if isset($prevtitle)}}<a href="article_material-detail-default-{{$previd}}.html">{{$prevtitle}}</a>{{else}}<em>{{$la.nodata}}</em>{{/if}}</p><p>{{$la.next}}{{if isset($nexttitle)}}<a href="article_material-detail-default-{{$nextid}}.html">{{$nexttitle}}</a>{{else}}<em>{{$la.nodata}}</em>{{/if}}</p></div>
                 -->
            </div>
        </div>
        <div class="clear"></div>
    </section>
</div>

{{include file="$WWW_PATH/footer.html"}}
{{include file="$WWW_PATH/consult.html"}}
{{include file="$WWW_PATH/messagebox.html"}}

</body>
</html>
