@charset utf-8;
body{background:url(../img/ind_bg.jpg) no-repeat center top;background-size:100% auto;max-width:640px;}
header{}
header h1{width:110px;height:65px;background:url(../img/logo.png) no-repeat;background-size:100% auto;margin:0.1rem 0 2rem 1rem;}
header p{height:123px;background:url(../img/ind_ad.png) no-repeat center top;background-size:100% auto;margin-bottom:2rem;}
nav{margin-bottom:2rem;}
nav ul li{padding:0 5%;margin-bottom:0.5rem;}
nav ul li span{display:inline-block;width:48%;}
nav ul li span.col_2_l{margin-right:4%;}
nav ul li span.col_3{width:31%;}
nav ul li span.col_3_cen{margin:0 3.5%;}
nav ul li a{display:block; position:relative; z-index:1;height:53px;color:#fff;padding-top:12px;}
nav ul li a i{ position:absolute;width:100%;height:100%;background:#333;filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;left:0;top:0;box-shadow:0 0 5px #000 inset;}
nav ul li a em.mw-icon{font-size:1.7rem; position:relative; z-index:3;}
nav ul li a p{font-size:1rem; position:relative; z-index:3;}
footer{ text-align:center;color:#fff;font-size:1rem;padding:1.2rem 0;}

