{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/top_menu.html"}}

	<div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
		<div class='col-md-10'>
			<div class='panel'>
				<div class='panel-heading'>
					<strong><i class='icon-list-ul'></i>&nbsp;{{$la.project.common}}</strong>
					<div class='panel-actions'><a href='example_project-add-default.html' class="btn btn-primary"><i class="icon-plus"></i> {{$la.project.create}}</a>
				    </div>
				</div>
				<form id='listForm'
                    action='example_project-default-list.html' method='post'>
				 <table class="table">
                          <tfoot>
                              <tr>
                                <td class='w-100px'>&nbsp;{{$la.project.style}}
                                </td>
                                <td colspan='5'>
                                    <select name='data[style]' id='style' class='selectMode'>
                                        {{html_options options=$style_options selected=$style_choose}}
                                    </select>
                                </td>
                                </tr>
                                <tr>
                                <td class='w-100px'>&nbsp;{{$la.project.room}}
                                </td>
                                <td colspan='5'>
                                    <select name='data[room]' id='room' class='selectMode'>
                                        {{html_options options=$room_options selected=$room_choose}}
                                    </select>
                                </td>
                               </tr>
                                <tr>
                                <td class='w-100px'>&nbsp;{{$la.project.surface}}
                                </td>
                                <td colspan='5'>
                                    <select name='data[surface]' id='surface' class='selectMode'>
                                        {{html_options options=$surface_options selected=$surface_choose}}
                                    </select>
                                </td>
                               </tr>
                               <tr>
                                <td class='w-100px'>&nbsp;{{$la.project.yjmset}}
                                </td>
                                <td colspan='5'>
                                    <select name='data[yjmset]' id='yjmset' class='selectMode'>
                                        {{html_options options=$yjmset_options selected=$yjmset_choose}}
                                    </select>
                                </td>
                               </tr>
                              <tr>
                                <td colspan='2'>&nbsp; <input type='submit' id='submit'
                                    class='btn btn-primary' value='{{$la.project.search}}'
                                    data-loading='{{$la.project.searching}}' />
                                </td>
                              </tr>
                            </tfoot>
                    </table>
				{{if !empty($list)}}
				  <table class='table table-hover table-striped tablesorter'>
				    <thead>
				      <tr>
		                <th class='text-center w-60px'><div class='{{if $orderby=="sort" and $sort=="desc"}}headerSortDown{{elseif $orderby=="sort" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-sort-sort-{{if $orderby == "sort"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.project.sort}}</a>
				</div></th>
				        <th class="text-center">{{$la.project.title}}</th>
				        <th class='text-center'><div class='{{if $orderby=="style" and $sort=="desc"}}headerSortDown{{elseif $orderby=="style" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-style-sort-{{if $orderby == "style"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.project.style}}</a>
				</div></th>
				        <th class='text-center w-160px'><div class='{{if $orderby=="room" and $sort=="desc"}}headerSortDown{{elseif $orderby=="room" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-room-sort-{{if $orderby == "room"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.project.room}}</a>
                </div></th>
                        <th class='text-center w-160px'><div class='{{if $orderby=="surface" and $sort=="desc"}}headerSortDown{{elseif $orderby=="surface" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-surface-sort-{{if $orderby == "surface"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.project.surface}}</a>
                </div></th>
                         <th class='text-center w-160px'><div class='{{if $orderby=="yjmset" and $sort=="desc"}}headerSortDown{{elseif $orderby=="yjmset" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-yjmset-sort-{{if $orderby == "yjmset"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.project.yjmset}}</a>
                </div></th>
                         <th class='text-center w-160px'><div class='{{if $orderby=="views" and $sort=="desc"}}headerSortDown{{elseif $orderby=="views" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-views-sort-{{if $orderby == "views"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.article.views}}</a>
                </div></th>
                        <!--
                        <th class='text-center w-100px'><div class='{{if $orderby=="homepage" and $sort=="desc"}}headerSortDown{{elseif $orderby=="homepage" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href='example_project-default-sort-currpage-{{$currpage}}-orderby-homepage-sort-{{if $orderby == "homepage"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html' >{{$la.project.homepage}}</a></div></th>
                         -->
				        <th class='text-center w-150px'>{{$la.actions}}</th>
				      </tr>
				    </thead>
				    <tbody>
				    {{foreach from=$list item="kv"}}
                        <tr>
                        <td class='text-center'>{{$kv.sort}}</td>
                        <td class='text-center'>{{$kv.title}}</td>
                        <td class='text-center'>{{$kv.stylename}}</a></td>
                        <td class='text-center'>{{$kv.roomname}}</td>
                        <td class='text-center'>{{$kv.surfacename}}</td>
                        <td class='text-center'>{{$kv.setname}}</td>
                        <td class='text-center'>{{$kv.views}}</td>
                        <!--
                        <td class='text-center {{if $kv.homepage == "1"}}is-visible{{/if}}'>{{if $kv.homepage=="1"}}<a href="system_topimage-edit-default-objecttype-project-objectid-{{$kv.id}}.modal" data-toggle='modal'>{{$la.yes}}</a>{{/if}}</td>
                         -->
                        <td class='text-center'>
                          <a href='example_project-edit-default-{{$kv.id}}.html' >{{$la.article.editor}}</a>
                          <a href='system_file-default-default-objecttype-project-objectid-{{$kv.id}}.modal' data-toggle='modal'>{{$la.project.album}}</a>
			                <a href='example_project-default-delete-{{$kv.id}}.json' class="deleter">{{$la.delete}}</a>
                        </td>
                        </tr>
				    {{/foreach}}
				          </tbody>
				    <tfoot><tr><td colspan='10'>
				    <div style='float:right; clear:none;' class='page form-inline'>
				    {{$pagelink}}
				        </div></td></tr></tfoot>
				  </table>
				  {{/if}}
				  </form>
			</div>
		</div>
	</div>
	{{include file="$WWW_PATH/footer.html"}}

    {{ex fn='exportJs'}}
</body>
</html>
