{{* Import css and js for chosen. *}}
{{*ex class="css" fn="import"  arg1="js/chosen/min.css"*}}
{{*ex class="js"  fn="import"  arg1="js/chosen/min.js"*}}
<link rel='stylesheet' href="{:T('js/chosen/min.css')}" type='text/css'   media='screen' />
<script src="{:T('js/chosen/min.js')}" type='text/javascript'></script>

<script language='javascript'>
$(document).ready(function()
{
    $(".chosen").chosen({no_results_text: '{{$la.noresultsmatch}}', placeholder_text:' ', disable_search_threshold: 10, width: '100%'});
    $('select.chosen-icons').chosenIcons({lang: '{{$CLIENTLANG}}'});
});
</script>
