<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{{if !isset($sitetitle)}}{:C('SITENAME')}{{else}}{{$sitetitle}}{{/if}}</title>
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta http-equiv="pragma" content="no-cache"> 
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
	<meta http-equiv="expires" content="0">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="{:T('mobile/css/style.css')}">
<!-- 	<link rel="stylesheet" type="text/css" href="{:T('mobile/css/mmenu.css')}"> -->
	<script src="{:T('mobile/js/rem.js')}"></script>
	<script src="{:T('mobile/js/require.js')}"></script>
	<script src="{:T('mobile/js/main.js')}"></script>
</head>