<nav id="menu">
    <ul>
        <li><a href="/">首页</a></li>
		<li><a href="#aboutus">事务所介绍</a>
			 <ul>
                <li><a href="{:U('aboutus/intro')}">关于我们</a></li>
                <li><a href="{:U('aboutus/honor')}">百君荣誉</a></li>
                <li><a href="{:U('service/online/detail')}">联系我们</a></li>
                <li><a href="{:U('jigou/default')}">百君分所</a></li>
            </ul>
		</li>
		<li><a href="{:U('core/field')}">专业领域</a></li>
		<li><a href="{:U('core/person')}">律师团队</a></li>
		<li><a href="{:U('news/officenews')}">百君微讯</a></li>
		<li><a href="javascript:void(0);">英文版</a></li>
    </ul>
</nav>