{{include file="$WWW_PATH/mobile/header.html"}}
<body>
<div id="page" class="frontPage">
	{{include file="$WWW_PATH/mobile/frontheader.html"}}
	<div class="content">
		<div class="banner" style="background-image:url({:T('mobile/img/bn-field.jpg')})">
			<h6>专业领域</h6>
		</div>
		<section class="fieldinfo">
			<div class="part">
				<div class="txt">
					<p>现代公司法人制度的发展使得公司这一企业形态成为社会主体结构中最重要的组成部分之一，社会活动的各个方面都活跃着公司的身影。与此同时，优化公司治理结构，构建长效稳定的公司运营机制成为公司经营者面临的重大课题，律师的服务也成为题中应有之义——自公司设立到发展壮大乃至消亡都应当有专业律师的介入。借助于律师的专业技能和实践经验，不仅可以在源头上规避潜在的股权结构风险，还可以在公司经营决策中提供操作性强的合规化建议，真正实现兼顾企业社会责任基础上的经营者商业利益最大化。</p>
					<p>可口可乐（中国）有限公司、重庆千方实业发展有限公司、中石油重庆分公司、西南兵器工业公司、重庆两江新区长江三峡小额贷款有限公司、重庆市两江新区通盛小额贷款股份有限公司、重庆市渝北区蓝洋小额贷款股份有限公司等</p>
				</div>
				{{if !empty($subfield)}}
				<div class="subset">
					<ul class="clear">
						{{foreach from=$subfield item="ls"}}
						<li><span class="displayCenter">{{$ls.title}}</span></li>
						{{/foreach}}
						<!-- <li><span class="displayCenter">公司合并与分立</span></li>
						<li><span class="displayCenter">公司管理架构与运营方案设计</span></li>
						<li><span class="displayCenter">公司绩效考核与股权激励</span></li> -->
					</ul>
				</div>
				{{/if}}
				<div class="hd"><h6>推荐律师</h6></div>
				<div class="bd">
					<ul>
						{{foreach from=$lawyers item="ls" key="key"}}
						{{if ($key < 4)}}
						<li>
							<a href="javascript:void(0);">
								<p class="t"><b>{{$ls.fullname}}</b><span>{{$ls.positionname}}</span></p>
								<p>执业领域：{{$ls.zhiyelingyu}}</p>
							</a>
						</li>
						{{/if}}
						{{/foreach}}
						<!-- <li>
							<a href="javascript:void(0);">
								<p class="t"><b>孙瑜</b><span>事务所主任</span></p>
								<p>执业领域：刑事辩护、公司法律事务</p>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<p class="t"><b>孙瑜</b><span>事务所主任</span></p>
								<p>执业领域：刑事辩护、公司法律事务</p>
							</a>
						</li> -->
					</ul>
				</div>
			</div>
		</section>
		{{include file="$WWW_PATH/mobile/footer.html"}}
	</div>
  {{include file="$WWW_PATH/mobile/menu.html"}}
</div>
{{include file="$WWW_PATH/mobile/lawyersearch.html"}}
</body>
</html>