{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/top_menu.html"}}
    {{include file="$WWW_PATH/kindeditor.html"}}
	<div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
		<div class='col-md-10'>
			<div class='panel'>
				<div class='panel-heading'>
					<strong><i class='icon-list-ul'></i>&nbsp;{{$la.message.common}}</strong>
				    </div>
				</div>
				<div class='panel'>
				<form action="{:U('weixin/message/chat/reply.json')}" method='post' id="replyForm">
				    <div class="panel-body">
				    <ul class="nav nav-pills" role="tablist">
					  <li role="presentation" class="active" tab-type="moji"><a href="javascript:void(0);">{{$la.message.moji}}</a></li>
					  <li role="presentation" tab-type="image"><a href="{:U('system/chatfile/default/default.modal?filetype=image')}" data-toggle='modal'>{{$la.message.image}}</a></li>
					  <li role="presentation" tab-type="news"><a href="#">{{$la.message.news}}</a></li>
					</ul></br>
				     <textarea id="moji" name="data[moji]" style="display:none">
                    </textarea>
                    <textarea id="image" name="data[image]" style="display:none">
                    </textarea>
                    <textarea id="news" name="data[news]" style="display:none">
                    </textarea></br>
                    <input type="hidden" name="data[type]" value="{{$type}}" />
                    <input type="hidden" name="data[id]" value="" />
                    <input type="hidden" name="data[openid]" value="{{$openid}}" />
                    <input type='submit' id='submit'  class='btn btn-primary' value='{{$la.message.send}}' data-loading='{{$la.loading}}' />
                    </div>
				    </form>
				</div>
				{{if !empty($list)}}
				  <table class='table table-hover table-striped tablesorter'>
				    <tbody>
				    {{foreach from=$list item="kv"}}
                        <tr data-openid="{{$kv.openid}}" data-mid="{{$kv.id}}">
                        <td class='text-center'>
                                <a href='{:U('weixin/message/chat/default.html?openid={{$kv.openid}}&filetype=image')}' ><img class="image-small" width="64" height="64" src="{{$kv.headimgurl}}"></a></td>
                        <td class='text-left'>{{$kv.name}}</td>
                        <td class='text-left'>{{if isset($kv.content)}}{{$kv.content}}{{/if}}{{if isset($kv.url)}}{{if $kv.objecttype == "image"}}<a target="_blank" href="{{$kv.url}}"><img src="{{$kv.url}}" height="63"/></a> {{/if}}{{/if}}</td>
                        <td class='text-center'>{:date("Y-m-d H:i:s" , {{$kv.createtime}})}</td>
                        <!--
                        <td class='text-center'>
                          <a href='javascript:void(0);' class="quickreply">{{$la.message.quickreply}}</a>
                        </td>
                         -->
                        </tr>
				    {{/foreach}}
				          </tbody>
				    <tfoot><tr><td colspan='11' class="text-center">
				    {{$pagelink}}
				    </td></tr></tfoot>
				  </table>
				  {{/if}}
			</div>
		</div>
	</div>
	{{include file="$WWW_PATH/footer.html"}}
    <script type="text/javascript">
    function certain(obj)
    {
    	$(':hidden[name*="data[type]"]').val(obj.filetype);
    	$(':hidden[name*="data[id]"]').val(obj.fileid);
    	$('li[role="presentation"]').removeClass('active');
    	$('li[role="presentation"][tab-type="' + obj.filetype + '"]').addClass('active');
    	$('.ke-container').hide();
    	$('#'+obj.filetype).prev().show();
    	if (obj.filetype == 'image') {
    		  $('textarea[name*="data[image]"]').val(obj.fileurl);
    		  editorimage.html('<img src="' + obj.fileurl + '" height="170"/>');
    	}
        //alert(keEditor);
    }


    function keInit(id , keobj) {
    	//$('.ke-container').hide();
        if (id == "image" || id == "news") {
        	keobj.readonly();
        	$('#'+id).prev().hide();
        }
    	//    $('.ke-container:eq(2)').hide();

    }
    </script>
    {{ex fn='exportJs'}}
</body>
</html>
