<link rel='stylesheet' href="{:T('js/datetimepicker/css/min.css')}" type='text/css'   media='screen' />
<script src="{:T('js/datetimepicker/js/min.js')}" type='text/javascript'></script>
{{if $CLIENTLANG != 'en'}}
    <script src="{:T('js/datetimepicker/js/locales/{{$CLIENTLANG}}.js')}" type='text/javascript'></script>
{{/if}}
<script language='javascript'>
startDate = new Date(2000, 1, 1);
var option = {
	format: 'yyyy-mm-dd hh:ii',
    startDate:startDate,
	pickerPosition: 'top-left',
	todayBtn: true,
	autoclose: true,
	keyboardNavigation:false,
	language:'{{$CLIENTLANG}}',
	minView:2,
	todayHighlight:true
};
//var option = {};
//option.full = {
//format: 'yyyy-mm-dd hh:ii',
//startDate:startDate,
//pickerPosition: 'top-left',
//todayBtn: true,
//autoclose: true,
//keyboardNavigation:false,
//language:'{{$CLIENTLANG}}',
//minView:2,
//todayHighlight:true
//};

//option.simple = {
//format: 'yyyy-mm-dd',
//startDate:startDate,
//pickerPosition: 'buttom-left',
//todayBtn: true,
//autoclose: true,
//keyboardNavigation:false,
//language:'{{$CLIENTLANG}}',
//minView:2,
//todayHighlight:true
//};

$(function()
{
//$(".date").datetimepicker(option.{
//  {$datepicker.option}
//});
$(".date").datetimepicker(option);
});
</script>