{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/datepicker.html"}}
	{{include file="$WWW_PATH/kindeditor.html"}}
    {{include file="$WWW_PATH/top_menu.html"}}

	<div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
		<div class='col-md-10'>
			<div class='panel'>
				<div class='panel-heading'>
					<strong><i class='icon-edit'></i>&nbsp;{{$la.questionnaire.edit}}</strong>
				</div>
				<div class='panel-body'>
				<!-- <form id='sortForm'
					action='/chanzhieps/www/admin.php?m=slide&f=sort' method='post'>-->
				<form id='ajaxForm'
                    action='{:U('service/questionnaire/edit/update.json')}' method='post'>
					<table class='table table-form'>
					   <tr>
				          <th class='w-100px'>{{$la.questionnaire.title}}</th>
				          <td colspan='2'>
				          <div class="required required-wrapper"></div>
				          <input type='text' name='data[title]' id='title' value='{{$title}}' class="form-control" />
				          <input type="hidden" name="data[id]" value="{{$id}}" />
				          </td>
				       </tr>
				       {{*
				       <tr>
                          <th>{{$la.questionnaire.keyword}}</th>
                          <td colspan='2'>
                          <div class=""></div>
                          <input type='text' name='data[keyword]' id='keyword' value='' class="form-control" />
                          </td>
                       </tr>
                        <tr>
                          <th>{{$la.questionnaire.summary}}</th>
                          <td colspan='2'>
                          <textarea name='data[summary]' id='summary' rows='2' class='form-control'></textarea>
                            </td>
                       </tr>
                       *}}
                       <tr>
				          <th>{{$la.questionnaire.content}}</th>
				          <td colspan='2'>
				          <div class="required required-wrapper"></div>
				          <textarea name='data[content]' id='content' rows='10' class='form-control'>{{$content}}</textarea>
				           </td>
					   </tr>
					   <tr>
				          <th>{{$la.questionnaire.starttime}}</th>
				          <td>
				              <input type='text' name='data[starttime]' id='starttime' value='{{$starttime}}' class='form-control date' style="width:180px;"/>
				          </td>
				          <td></td>
				        </tr>
				        <tr>
                          <th>{{$la.questionnaire.endtime}}</th>
                          <td>
                              <input type='text' name='data[endtime]' id='endtime' value='{{$endtime}}' class='form-control date' style="width:180px;"/>
                          </td>
                          <td></td>
                        </tr>
                        <tr class="line">
                        <td colspan="4"><hr></td>
                        </tr>
                        {{foreach from=$question item="q" name="questionloop"}}
                            <tr class="question">
                                <th>{{$la.questionnaire.question}}{{$smarty.foreach.questionloop.index+1}}：</th>
                                <td>
                                  <div class="required required-wrapper"></div>
                                  <input type="text" name="data[question][{{$smarty.foreach.questionloop.index}}]" id="question_{{$smarty.foreach.questionloop.index}}" value="{{$q.title}}" class="form-control"/>
                                </td>
                                <td>
                                    <input type="checkbox" value="1" id="ismulti_{{$smarty.foreach.questionloop.index}}" name="ismulti[{{$smarty.foreach.questionloop.index}}]" {{if $q.mutiflg == "1"}}checked="checked"{{/if}}>
                                    <label for="ismulti_{{$smarty.foreach.questionloop.index}}">{{$la.questionnaire.mutiok}}</label>
                                    {{if $smarty.foreach.questionloop.index != 0}}&nbsp;&nbsp;&nbsp;<a href="javascript:;" onclick="delQuestion(this)">{{$la.delete}}</a>{{/if}}
                                </td>
                             </tr>
                             {{foreach from=$q.option name="optionloop" item="o"}}
                             <tr class="option">
                              <td><input type="hidden" name="oid_{{$smarty.foreach.questionloop.index}}_{{$smarty.foreach.optionloop.index}}"></td>
                              <td><div class="required required-wrapper"></div><div class="form-group"><div class="input-group"><div class="input-group-addon">{{$la.questionnaire.option}}{{$smarty.foreach.optionloop.index+1}}：</div><input type="text" value="{{$o.title}}" name="data[option][{{$smarty.foreach.questionloop.index}}][{{$smarty.foreach.optionloop.index}}]" id="option_{{$smarty.foreach.questionloop.index}}_{{$smarty.foreach.optionloop.index}}" class="form-control" ></div></div></td>
                              <td><div class="form-group">{{if $smarty.foreach.optionloop.index != 0}}<a href='javascript:;' onclick="delOption(this)">{{$la.delete}}</a>{{/if}}</div></td>
                             </tr>
                             {{/foreach}}
                             <tr>
	                         <th></th>
	                         <td colspan='2'><input type='button' id='addoption' class='btn btn-primary' value='{{$la.questionnaire.addoption}}' onclick="addOption(this);"/>
	                          </td>
	                        </tr>
	                        <tr class="line">
	                        <td colspan="4"><hr>
	                        </td>
	                        </tr>
                        {{/foreach}}
                        <tr>
                        <td colspan="4"><input type='button' id='addquestion' class='btn btn-primary' value='{{$la.questionnaire.addquestion}}' onclick="addQuestion(this);" />
                        </td>
                        </tr>
                        <tr>
                        <td colspan="4"><hr>
                        </td>
                        </tr>
						<tr>
						 <th></th>
                         <td colspan='2'><input type='submit' id='submit' class='btn btn-primary' value='{{$la.save}}' data-loading='{{$la.loading}}' />
                         &nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-default goback" value="{{$la.goback}}" onclick="location.href='{:U('service/questionnaire')}'">
                          </td>
                        </tr>

					</table>
				</form>
				</div>
			</div>
		</div>
	</div>
	{{include file="$WWW_PATH/footer.html"}}

    {{ex fn='exportJs'}}
    <script type="text/javascript" >
    function addOption(btn)
    {
        var opt = $(btn).parent().parent().prev().find('td:first input').attr('name').replace('oid_','').split('_');
        var oid = parseInt(opt[1])+1;
        var qid = opt[0];
        var content = '<tr class="option"><td><input type="hidden" name="oid_' + qid +  '_' + oid + '"></td><td><div class="required required-wrapper"></div><div class="form-group">'+
        '<div class="input-group"><div class="input-group-addon">{{$la.questionnaire.option}}'+ (oid + 1) +'：</div><input type="text" name="data[option]['+ qid +'][' + oid +']" id="option_'+ qid +'_' + oid +'" class="form-control" ></div></div></td>'+
        '<td><div class="form-group"><a href="javascript:;" onclick="delOption(this)">{{$la.delete}}</a></div></td></tr>';
        $(btn).parent().parent().before(content);
    }

    function delOption(btn)
    {
        var opt = $(btn).parent().parent().prev().prev().find('input').attr('name').replace('oid_','').split('_');
        var qid = opt[0];
        var oid = opt[1];
        var hiddens = $('input:hidden[name^="oid_'+ qid +'"]');
        hiddens.each(function(){
        	var this_oid = $(this).attr('name').replace('oid_','').split('_')[1];
        	if (this_oid > oid) {
        		var this_oid_new = this_oid - 1;
        	    $(this).attr('name' , "oid_" + qid + '_' + this_oid_new);
        	    $(this).parent().next().find('.input-group-addon').text($(this).parent().next().find('.input-group-addon').text().replace(parseInt(this_oid)+1 , parseInt(this_oid_new)+1));
        	    $(this).parent().next().find('input').attr('name' , 'data[option]['+ qid +']['+ this_oid_new +']');
        	}
        });
        $(btn).parent().parent().parent().remove();
    }

    function addQuestion(btn)
    {
        var que = $(btn).parent().parent().prev().prev().prev().find('input').attr('name').replace('oid_','').split('_');
        var prev_qid = que[0];
        var new_qid  = parseInt(prev_qid) + 1;
        var content = '<tr class="question">'+
        '                            <th>{{$la.questionnaire.question}}'+ (new_qid + 1) +'：</th>'+
        '                            <td>'+
        '                              <div class="required required-wrapper"></div>'+
        '                              <input type="text" name="data[question]['+new_qid+']" id="question_'+new_qid+'" value="" class="form-control" />'+
        '                            </td>'+
        '                            <td>'+
        '                                <input type="checkbox" value="1" id="ismulti_'+new_qid+'" name="ismulti['+new_qid+']" >'+
        '                                <label for="ismulti_'+new_qid+'">{{$la.questionnaire.mutiok}}</label>&nbsp;&nbsp;<a href="javascript:;" onclick="delQuestion(this)">{{$la.delete}}</a>'+
        '                            </td>'+
        '                        </tr>'+
        '                        <tr class="option">'+
        '                            <td><input type="hidden" name="oid_'+new_qid+'_0"></td>'+
        '                            <td><div class="required required-wrapper"></div><div class="form-group"><div class="input-group"><div class="input-group-addon">{{$la.questionnaire.option}}1：</div><input type="text" name="data[option]['+new_qid+'][0]" id="option_'+ new_qid +'_0" class="form-control" ></div></div></td>'+
        '                            <td><div class="form-group"></div></td>'+
        '                        </tr>'+
        '                        <tr class="option">'+
        '                            <td><input type="hidden" name="oid_'+new_qid+'_1"></td>'+
        '                            <td><div class="required required-wrapper"></div><div class="form-group"><div class="input-group"><div class="input-group-addon">{{$la.questionnaire.option}}2：</div><input type="text" name="data[option]['+new_qid+'][1]" id="option_'+ new_qid +'_1" class="form-control" ></div></div></td>'+
        '                            <td><div class="form-group"><a href="javascript:;" onclick="delOption(this)">{{$la.delete}}</a></div></td>'+
        '                        </tr>'+
        '                        <tr class="option">'+
        '                            <td><input type="hidden" name="oid_'+new_qid+'_2"></td>'+
        '                            <td><div class="required required-wrapper"></div><div class="form-group"><div class="input-group"><div class="input-group-addon">{{$la.questionnaire.option}}3：</div><input type="text" name="data[option]['+new_qid+'][2]" id="option_'+ new_qid +'_2" class="form-control" ></div></div></td>'+
        '                            <td><div class="form-group"><a href="javascript:;" onclick="delOption(this)">{{$la.delete}}</a></div></td>'+
        '                        </tr>'+
        '                        <tr>'+
        '                         <th></th>'+
        '                         <td colspan="2"><input type="button" id="addoption" class="btn btn-primary" value="{{$la.questionnaire.addoption}}" onclick="addOption(this);"/>'+
        '                          </td>'+
        '                        </tr>'+
        '                        <tr class="line">'+
        '                        <td colspan="4"><hr>'+
        '                        </td>'+
        '                        </tr>';
        $(btn).parent().parent().before(content);
    }

    function delQuestion(btn)
    {
    	 var old_qid = $(btn).parent().prev().find('input').attr('id').replace('question_','');


    	 var questions = $('.question');
    	 var options   = $('.option');
    	 questions.each(function(){
    		 var this_qid = parseInt($(this).find('td:first input').attr('id').replace('question_',''));
    		 //alert(this_qid);
    		 if (this_qid > old_qid) {
    			 var new_qid = parseInt(this_qid) - 1;
    			 $(this).find('td:first input').attr('id','question_'+new_qid).attr('name','data[question]['+new_qid+']');
    			 $(this).find('td:last input').attr('id' , 'ismulti_'+new_qid).attr('name','ismulti['+new_qid+']');
    			 $(this).find('td:last label').attr('for','ismulti_'+new_qid);
    			 $(this).find('th').text($(this).find('th').text().replace(this_qid+1 , new_qid+1));
    		 }
    	 });

    	 options.each(function(){
    		  var this_qid = $(this).find('input:hidden').attr("name").replace('oid_','').split('_')[0];
    		  var this_oid = $(this).find('input:hidden').attr("name").replace('oid_','').split('_')[1];
    		  if (this_qid > old_qid) {
    			  var new_qid = parseInt(this_qid) - 1;
    			  $(this).find('input:hidden').attr('name' , 'oid_' + new_qid + '_' + this_oid);
                  $(this).find('input:text').attr('name' , 'data[option]['+new_qid+']['+this_oid+']');
    		  }
    	 });
    	 while(1) {
    		 if ($(btn).parent().parent().next().attr('class') != "line") {
    			 $(btn).parent().parent().next().remove();
    		 } else {
    			 $(btn).parent().parent().next().remove();
    			 $(btn).parent().parent().remove();
    			 break;
    		 }
    	 }
         $(btn).parent().parent().parent().remove();
    }
    </script>
</body>
</html>
