@charset utf-8;
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display: block;margin:0;padding:0;}
audio,canvas,video{display: inline-block;}
audio:not([controls]){display: none;height: 0;}
[hidden]{display: none;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,select,textarea,th,td,div{margin:0;padding:0;}
body,button,input,select,textarea{font:1rem 'Microsoft Yahei',Arial,Verdana,Helvetica,sans-serif;line-height:1.5;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
address,cite,dfn,em,var,caption,code,dfn,th{font-style:normal;font-weight:400;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
i{font-style:normal;}
ul,ol{list-style:none}
a{text-decoration:none;color:#424242;}
a:hover{text-decoration:none;color:#25d99c;}
a:focus{outline:none; text-decoration:none;}
a:active,a:hover{outline:0; text-decoration:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;background:#fff;}
table{border-collapse:0;border-spacing:0;border-collapse:collapse;}
q:before,q:after{content:'';}
b,strong{font-weight: bold;}
textarea{resize:none;}
textarea:focus,input:focus{outline: none;}
button {overflow: visible;border:0;}
button,select{text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {padding: 0;border: 0;}
/*----全局----*/
body{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;font-size:14px;line-height:1.5;text-align:center;color:#414141;word-wrap:break-word;word-break:break-all;word-break:normal;position:relative;text-align:left;}
.clear:after{clear:both;content:'';display:block;}