@charset utf-8;
/*----通用----*/
a{color:#414141;transition: all .5s;}
a:hover{color:#e35757;}
body{background:#fff;}
header{border-top:5px solid #777;position:relative;background:#f9f9f9;z-index:2;}
header:after{content:'';display:block;clear:both;}
header nav.l{float:left;padding-left:15px;}
header nav.r{float:right;padding-right:15px;}
header .logo{position:absolute;width:150px;top:50%;height:40px;line-height:40px;margin:-20px 0 0 -75px;left:50%;z-index:1;}
header .logo a{font-size:24px;}
header nav ul li{line-height:75px;float:left;position:relative;z-index:1;}
header nav ul li a.lnk{display:block;padding:0 15px;font-size:14px;position:relative;z-index:1;}
header nav ul li a.lnk:hover{}
header nav ul li.drophov a.lnk{color:#e35757;}
header nav ul li.droplnk a.lnk:after,header nav ul li.droplnk a.lnk:before{width:5px;height:1px;background:#999;position:absolute;z-index:1;content:'';display:block;top:50%;}
header nav ul li.droplnk a.lnk:after{right:1px;
transform:rotate(45deg);
-ms-transform:rotate(45deg); 	/* IE 9 */
-moz-transform:rotate(45deg); 	/* Firefox */
-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
-o-transform:rotate(45deg); 	/* Opera */}
header nav ul li.droplnk a.lnk:before{right:-2px;
transform:rotate(-45deg);
-ms-transform:rotate(-45deg); 	/* IE 9 */
-moz-transform:rotate(-45deg); 	/* Firefox */
-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
-o-transform:rotate(-45deg); 	/* Opera */	
}

a.backtop{width:60px;height:60px;position:fixed;bottom:200px;border-radius: 5px;display:none;z-index:1000;
background-color:#ccc;background-position:50% 50%;background-size:60% auto;background-repeat: no-repeat;background-image:url(../img/wisdom/backtop.png);
}
a.backtop:hover{opacity: .5;}
/*下拉*/
.droplist{display:none;line-height:1.5;position:absolute;top:75px;left:0;background:#fff;border:1px solid #dadada;border-radius: 3px;}
.droplist .dropcon{padding:10px 15px;}
.droplist:before{position:absolute;display:block;content:'';width:12px;height:10px;top:-9px;left:35px;background:url(../img/wisdom/droparr.png) no-repeat;}
.droplist .dropcon ul li{line-height:1.5;float:none;}
.droplist .dropcon a{line-height:1.5;}
/*杂志下拉*/
.drop_zazhi{width:230px;}
.drop_zazhi .dropcon{padding:5px 10px;}
.drop_zazhi ul li{border-bottom:1px dashed #dadada;padding:10px;}
.drop_zazhi ul li a{display:block;}
.drop_zazhi ul li a:after{content:'';clear:both;display:block;}
.drop_zazhi ul li a .pic{float:left;}
.drop_zazhi ul li a .pic img{width:63px;height:85px;display:block;}
.drop_zazhi ul li a .txt{float:right;width:115px;}
.drop_zazhi ul li a .txt dl dt{color:#414141;height:20px;line-height:20px;width:100%;margin-bottom:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.drop_zazhi ul li a .txt dl dd{color:#999;font-size:12px;overflow:hidden;line-height:20px;height:60px;}
.drop_zazhi ul li:hover{background:#f1f1f1;}
.drop_zazhi .dropcon .more a{display:block;margin:0 auto;text-align:center;height:50px;line-height:50px;}
.drop_zazhi .dropcon .more a:hover{background:#f1f1f1;}

/*栏目下拉*/
.drop_lanmu{width:350px;}
.drop_lanmu .dropcon{padding:15px 20px;}
.drop_lanmu .dropcon:after{clear:both;content:'';display:block;}
.drop_lanmu dl{margin-bottom:10px;}
.drop_lanmu dl:last-child{margin-bottom:0;}
.drop_lanmu dl:after{content:'';display:block;clear:both;}
.drop_lanmu dl dt{float:left;position:relative;z-index:1;padding-right:15px;font-size:16px;height:25px;line-height:25px;margin:0 15px 0 0;}
.drop_lanmu dl dt:before{width:1px;height:60%;background:#ccc;right:0;content:'';top:6px;position:absolute;}
.drop_lanmu dl dt:last-child:before{display:none;}
.drop_lanmu dl dt:last-child{padding:0;margin:0;}
.drop_lanmu dl dd{float:left;margin:0 15px 0 0;height:25px;line-height:25px;}
.drop_lanmu dl dd a{color:#999;}
.drop_lanmu dl dd a:hover{color:#e35757;}

/*领域下拉*/
.drop_lingyu{width:437px;left:inherit;right:-30px;}
.drop_lingyu:before{left:inherit;right:70px;}
.drop_lingyu .dropcon{padding:15px 20px;}
.drop_lingyu .dropcon:after{content:'';clear:both;display:block;}
.drop_lingyu .dropcon ul li{float:left;padding-right:10px;margin-right:10px;height:30px;line-height:30px;}
.drop_lingyu .dropcon ul li:before{content:'';display:block;width:1px;height:14px;right:0;top:9px;position:absolute;background:#dadada;}
.drop_lingyu .dropcon ul li:last-child:before{display:none;}

.wrap{width:980px;margin:0 auto;padding-top:20px;}
.wrap h1{text-align:center;position:relative;z-index:1;margin-bottom:20px;padding-bottom:10px;}
.wrap h1:after{position:absolute;left:50%;bottom:0;width:80px;height:2px;background:#bc4545;content:'';margin-left:-40px;}
footer{position:relative;z-index:1;text-align:center;}
footer:after{position:absolute;width:100%;height:1px;background:#ccc;top:50%;left:0;content:'';z-index:-1;}
footer .footer_con{background:#fff;color:#999;display:inline-block;margin:0 auto;position:relative;z-index:1;padding:40px 20px;}

/*--首页--*/
/*头条*/
.headlines{position:relative;width:100%;border-top:1px solid #3f3f3f;}
.headlines a{position:relative;z-index:1;display:block;}
.headlines a img{width:100%;display:block;}
.headlines a .data{position:absolute;width:100%;bottom:0;left:0;height:50px;line-height:50px;background:rgba(255,255,255,0.8);}
.headlines a .data .datacon{width:980px;margin:0 auto;position:relative;z-index:1;}
.headlines a .data .datacon p{position:absolute;z-index:1;left:0;top:50%;margin-top:-25px;height:50px;line-height:50px;}
.headlines a .data .datacon em{color:#e35757;}
.headlines a .data .datacon i{color:#999;margin:0 10px;}
.headlines a .data .datacon b{font-weight:normal;color:#999;}
.headlines a .data .datacon span{padding-left:165px;display:block;width:830px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;font-size:20px;height:50px;line-height:50px;}


/*列表*/
.indpart{border-bottom:2px solid #dadada;margin-bottom:20px;padding-bottom:10px;position:relative;z-index:1;}
.indpart:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0;}
.indpart .tit{width:225px;height:413px;position:absolute;right:0;top:0;background:#f1f1f1;}
.indpart .tit .tit_con{width:199px;height:387px;background:url(../img/wisdom/tit_bg.jpg) no-repeat;margin:13px auto 0;text-align:center;}
.indpart .tit .tit_con dl{padding:105px 0 20px 0;}
.indpart .tit .tit_con dl dd{font-style:italic;color:#999;font-size:18px;}
.indpart .tit .tit_con dl dt{font-size:18px;}
.indpart .tit .tit_con .tit_btn a{display:block;width:60%;height:30px;position:relative;z-index:1;margin:0 auto;;}
.indpart .tit .tit_con .tit_btn a:before{content:'阅读更多';display:block;width:100%;height:30px;line-height:30px;color:#fff;background:#e35757;position:absolute;left:50%;margin-left:-50%;top:0;transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-o-transition: all .3s;-ms-transition: all .3s;}
.indpart .tit .tit_con .tit_btn a:after{display:block;width:110%;background:#c13e3e;top:5px;height:30px;content:'';position:absolute;left:50%;margin-left:-55%;z-index:-1;}
.indpart .tit .tit_con .tit_btn a:hover:before{width:110%;background:#c13e3e;top:5px;height:30px;position:absolute;left:50%;margin-left:-55%;}

.indpart:nth-child(2n) .tit{left:0;right:inherit;}
.indpart ul:after{content:'';display:block;clear:both;}
.indpart ul li{float:left;width:313px;margin:0 0 20px 0;height:320px;}
.indpart ul li a{display:block;position:relative;z-index:1;width:313px;height:320px;transition:all .5s;}
.indpart ul li .pic{margin-bottom:10px;width:313px;height:202px;overflow:hidden;}
.indpart ul li .pic img{width:313px;height:202px;display:block;transition:all 2s;}
.indpart ul li a:hover .pic img{transform: scale(1.3);}
.indpart ul li .txt{font-size:12px;}
.indpart ul li .txt .com{height:30px;line-height:30px;}
.indpart ul li .txt .com em{color:#e35757;}
.indpart ul li .txt .com i{margin:0 10px;color:#ccc;}
.indpart ul li .txt .com b{font-weight:normal;color:#999;}
.indpart ul li .txt dl{}
.indpart ul li .txt dl dt{font-size:16px;color:#414141;margin-bottom:5px;transition:all .5s;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.indpart ul li .txt dl dd{color:#999;height:40px;line-height:20px;overflow:hidden;}

.indpart ul li .mask{position:absolute;width:100%;height:202px;background:rgba(0,0,0,0.8);z-index:2;transition:all .5s;opacity: 0;}
.indpart ul li .mask .stat{color:#fff;position:absolute;width:100%;height:30px;line-height:30px;top:50%;margin:-15px 0 0 0;text-align:center;}
.indpart ul li .mask em{height:30px;line-height:30px;display:inline-block;vertical-align: middle;margin:0 5px 0 0;}
.indpart ul li .mask b{font-weight:normal;height:30px;line-height:30px;display:inline-block;vertical-align: middle;}
.indpart ul li .mask span{height:15px;vertical-align: middle;width:17px;position:relative;z-index:1;display:inline-block;}
.indpart ul li .mask span:before,.indpart ul li .mask span:after,.indpart ul li .mask span i{height:0;transition: all 1.5s;}
.indpart ul li a:hover .mask span:before{width:3px;height:5px;position:absolute;bottom:0;left:0;content:'';background:#fff;}
.indpart ul li a:hover .mask span:after{width:3px;height:10px;position:absolute;bottom:0;left:5px;content:'';background:#fff;}
.indpart ul li a:hover .mask span i{width:3px;height:15px;position:absolute;bottom:0;left:10px;background:#fff;}


.indpart ul li a:hover .mask{opacity:1;}

.indpart ul li:first-child{width:736px;height:413px;background:#f9f9f9;}
.indpart ul li:first-child a{width:736px;height:413px;}
.indpart ul li:first-child .pic{width:735px;height:290px;}
.indpart ul li:first-child .pic img{width:735px;height:290px;display:block;}
.indpart ul li:first-child .txt{padding:0 15px;font-size:14px;}
.indpart ul li:first-child .txt dl dt{font-size:18px;}
.indpart ul li:first-child .mask{height:290px;}

.indpart:nth-child(2n) ul li:first-child{margin-left:245px;}
.indpart ul li:nth-child(3n){margin:0 20px 20px;}


/*面包屑*/
.bread{border-bottom:1px solid #dadada;padding:0 0 15px;color:#999;margin-bottom:30px;}
.bread b{font-weight:normal;margin:0 10px 0 0;}
.bread a{}
.bread i{font-style:normal;margin:0 10px;}
.bread em{color:#414141;}

/*文章列表*/
.pagelist{}


.pagelist{border-bottom:2px solid #dadada;margin-bottom:20px;padding-bottom:10px;position:relative;z-index:1;padding-bottom:20px;border-bottom:2px solid #dadada;}
.pagelist:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0;}
.pagelist .title{font-size:16px;margin-bottom:20px;}


.pagelist ul:after{content:'';display:block;clear:both;}
.pagelist ul li{float:left;width:313px;margin:0 0 20px 0;height:320px;}
.pagelist ul li a{display:block;position:relative;z-index:1;width:313px;height:320px;transition:all .5s;}
.pagelist ul li .pic{margin-bottom:10px;width:313px;height:202px;overflow:hidden;}
.pagelist ul li .pic img{width:313px;height:202px;display:block;transition:all 2s;}
.pagelist ul li a:hover .pic img{transform: scale(1.3);}
.pagelist ul li .txt{font-size:12px;}
.pagelist ul li .txt .com{height:30px;line-height:30px;}
.pagelist ul li .txt .com em{color:#e35757;}
.pagelist ul li .txt .com i{margin:0 10px;color:#ccc;}
.pagelist ul li .txt .com b{font-weight:normal;color:#999;}
.pagelist ul li .txt dl{}
.pagelist ul li .txt dl dt{font-size:16px;color:#414141;margin-bottom:5px;transition:all .5s;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.pagelist ul li .txt dl dd{color:#999;height:40px;line-height:20px;overflow:hidden;}

.pagelist ul li .mask{position:absolute;width:100%;height:202px;background:rgba(0,0,0,0.8);z-index:2;transition:all .5s;opacity: 0;}
.pagelist ul li .mask .stat{color:#fff;position:absolute;width:100%;height:30px;line-height:30px;top:50%;margin:-15px 0 0 0;text-align:center;}
.pagelist ul li .mask em{height:30px;line-height:30px;display:inline-block;vertical-align: middle;margin:0 5px 0 0;}
.pagelist ul li .mask b{font-weight:normal;height:30px;line-height:30px;display:inline-block;vertical-align: middle;}
.pagelist ul li .mask span{height:15px;vertical-align: middle;width:17px;position:relative;z-index:1;display:inline-block;}
.pagelist ul li .mask span:before,.pagelist ul li .mask span:after,.pagelist ul li .mask span i{height:0;transition: all 1.5s;}
.pagelist ul li a:hover .mask span:before{width:3px;height:5px;position:absolute;bottom:0;left:0;content:'';background:#fff;}
.pagelist ul li a:hover .mask span:after{width:3px;height:10px;position:absolute;bottom:0;left:5px;content:'';background:#fff;}
.pagelist ul li a:hover .mask span i{width:3px;height:15px;position:absolute;bottom:0;left:10px;background:#fff;}


.pagelist ul li a:hover .mask{opacity:1;}

.pagelist ul li:first-child{width:100%;height:290px;background:#f9f9f9;}
.pagelist ul li:first-child a{width:100%;height:290px;}
.pagelist ul li:first-child .pic{width:735px;height:290px;margin:0;float:left;}
.pagelist ul li:first-child .pic img{width:735px;height:290px;display:block;}
.pagelist ul li:first-child .txt{font-size:14px;float:right;width:245px;}
.pagelist ul li:first-child .txt .com{padding:30px 15px 0;}
.pagelist ul li:first-child .txt dl{padding:0 15px 0;}
.pagelist ul li:first-child .txt dl dt{font-size:18px;height:auto;overflow:inherit;white-space:inherit;}
.pagelist ul li:first-child .txt dl dd{height:auto;}
.pagelist ul li:first-child .mask{height:290px;}

.pagelist ul li:nth-child(3n){margin:0 20px 20px;}
.pagelist .more{text-align:center;}
.pagelist .more a{color:#999;border:1px solid #dadada;background:#f9f9f9;padding:5px 30px;display:block;width:80px;text-align:center;margin:0 auto;}
.pagelist .more a:hover{color:#fff;border-color:#414141;background:#414141;}


/*通用详情*/

.infopic{position:relative;z-index:1;width:650px;height:419px;margin-bottom:20px;background-color:#f1f1f1;
background-repeat: no-repeat;background-size:100% auto;background-position:50% 50%;
}
.infopic img{display:block;width:650px;height:419px;}
.infopic .mask{position:absolute;width:100%;left:0;bottom:0;color:#fff;
background:#ccc;
background: -moz-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,.6) 50%,  rgba(0,0,0,.8));
background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6) 50%,rgba(0,0,0,.8));
background: -o-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,.6) 50%, rgba(0,0,0,.8));
}
.infopic .mask dl{padding:0 15px;margin:0 auto;}
.infopic .mask dl dd{margin-bottom:5px;}
.infopic .mask dl dd b{border:1px solid #fff;border-radius: 3px;padding:3px 10px;}
.infopic .mask dl dt{font-size:25px;padding-bottom:10px;}


.infowrap{width:650px;margin:0 auto;padding-top:20px;}
.infowrap .oth{color:#999;margin-bottom:10px;}
.infowrap .oth:nth-child(2){margin-bottom:20px;}
.infowrap .oth span{margin:0 30px 0 0;}
.infowrap .oth span i{position:relative;z-index:1;padding-right:15px;margin-right:15px;}
.infowrap .oth span i:after{content:'';display:block;position:absolute;width:1px;height:15px;background:#dadada;right:0;top:2px;}
.infowrap .oth span b{font-weight:normal;}
.infowrap .oth a{color:#414141;}
.infowrap .oth a:hover{color:#e35757;}
.infowrap .abstract{color:#999;font-size:16px;font-style:italic;margin-bottom:15px;line-height:1.8;}
.infowrap .info{line-height:1.8;margin-bottom:30px;}
.infowrap .info img{display:block;margin:0 auto 10px;max-width:100%;}
.infowrap .author{padding:50px 0;}
.infowrap .author dl{height:180px;background:#f1f1f1;position:relative;z-index:1;}
.infowrap .author dl dt{position:absolute;width:245px;height:245px;left:95px;top:50%;margin-top:-122.5px;background:#f9f9f9;}
.infowrap .author dl dt img{width:245px;height:245px;display:block;}
.infowrap .author dl dd{float:right;width:310px;text-align:center;margin:50px 0 0 ;}
.infowrap .author dl dd p{font-size:16px;color:#999;}
.infowrap .author dl dd p.name{font-size:20px;color:#414141;margin-bottom:20px;}
.infowrap .othpage{border-top:2px solid #dadada;padding-top:20px;margin-top:20px;}
.infowrap .othpage h6{font-size:16px;color:#999;margin-bottom:15px;}
.infowrap .othpage ul li{border-bottom:1px dashed #dadada;}
.infowrap .othpage ul li:after{clear:both;display:block;content:'';}
.infowrap .othpage ul li a{display:block;}
.infowrap .othpage ul li a p{float:left;width:545px;height:35px;line-height:35px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.infowrap .othpage ul li a i{float:right;width:90px;height:35px;line-height:35px;color:#999;text-align:right;}


/*杂志列表*/
.maglist{position:relative;z-index:1;padding:30px 0;}
.maglist:after{width:1px;height:100%;position:absolute;z-index:-1;left:35px;background:#dadada;content:'';top:0;}
.maglist dl{margin-bottom:50px;}
.maglist dl:after{clear:both;content:'';display:block;}
.maglist dl dt{float:left;width:70px;height:70px;background:#f1f1f1;border-radius: 50%;line-height:70px;font-size:16px;color:#999;text-align:center;}
.maglist dl dd{float:right;width:870px;border-bottom:1px dashed #dadada;padding-bottom:15px;}
.maglist dl dd ul:after{clear:both;content:'';display:block;}
.maglist dl dd ul li{float:left;width:185px;height:305px;text-align:center;margin:0 43px 20px 0;}
.maglist dl dd ul li .listpics{display:none;}
.maglist dl dd ul li .pic{margin-bottom:10px;}
.maglist dl dd ul li .pic img{display:block;width:165px;height:227px;padding:5px;border:1px solid #dadada;transition: all .5s;}
.maglist dl dd ul li h5,.maglist dl dd ul li h6{transition: all .5s;height:25px;line-height:25px;color:#414141;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;font-size:14px;}
.maglist dl dd ul li h6{color:#999;}
.maglist dl dd ul li:nth-child(4n){margin:0 0 20px 0;}
.maglist dl:last-child{margin-bottom:0;}
.maglist dl:last-child dd{border-bottom:0;padding-bottom:0;}
.maglist dl dd ul li a:hover .pic img{border-color:#777;background-color:#777;}
.maglist dl dd ul li a:hover h5,.maglist dl dd ul li a:hover h6{color:#bc4545;}
