<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{if !isset($sitetitle)}}{:C('SITENAME')}{{else}}{{$sitetitle}}{{/if}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="baidu-site-verification" content="h8KUQ4zBJc" />
    <meta http-equiv="Cache-Control" content="private" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="baidu-site-verification" content="PdM2LUWMCq" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!–[if lt IE9]>
    <script src="{:T('js/html5.js')}"></script>
    <![endif]–>
    <link rel="stylesheet" href="{:T('css/reset.css')}" type="text/css" />
    <link rel="stylesheet" href="{:T('css/contrls.css')}" type="text/css" />
    <link rel="stylesheet" href="{:T('css/style.css')}" type="text/css" />
    <style>
    html,body{height:100%;}
    </style>
	<script>
		var require = {
			urlArgs: "mw=" +  (new Date()).getTime()
		};
	</script>
	<script src="{:T('js/require.js')}"></script>
	<script src="{:T('js/main.js')}"></script>
</head>