<li {{if $modules == 'usernotice'}}class="cu"{{/if}}><a href="{:U('service/usernotice/detail/default.html')}">用户须知<i class="mwIcon">&#xf105;</i></a></li>
<li {{if $modules == 'waterprice'}}class="cu"{{/if}}><a href="{:U('service/waterprice/detail/default.html')}">现行水价<i class="mwIcon">&#xf105;</i></a></li>
<!-- <li><a href="#">水费查询<i class="mwIcon">&#xf105;</i></a></li> -->
<li {{if $modules == 'payment'}}class="cu"{{/if}}><a href="{:U('service/payment/detail/default.html')}">缴费指南<i class="mwIcon">&#xf105;</i></a></li>
<li {{if $modules == 'online'}}class="cu"{{/if}}><a href="{:U('service/online/detail/default.html')}">网上缴费<i class="mwIcon">&#xf105;</i></a></li>
<li {{if $modules == 'questionnaire'}}class="cu"{{/if}}><a href="{:U('service/questionnaire/list/default.html')}">网上调查<i class="mwIcon">&#xf105;</i></a></li>
<li ><a href="http://weibo.com/5388346201" target="_blank">企业微博<i class="mwIcon">&#xf105;</i></a></li>
<li {{if $modules == 'repair'}}class="cu"{{/if}}><a href="{:U('service/repair/add/default.html')}">网上报修<i class="mwIcon">&#xf105;</i></a></li>
<li {{if $modules == 'promise'}}class="cu"{{/if}}><a href="{:U('service/promise/detail/default.html')}">服务承诺<i class="mwIcon">&#xf105;</i></a></li>
<li {{if $modules == 'contact'}}class="cu"{{/if}}><a href="{:U('service/contact/detail/default.html')}">联系我们<i class="mwIcon">&#xf105;</i></a></li>