            <div class="front_part p1">
                <div class="hd"><h6>{{$la.team}}</h6><div class="more"><a href="design_person-list-default.html">{{$la.more}}&gt;&gt;</a></div></div>
                <div class="bd">
                    <div class="lst">
                        <ul id="desLst">
                        {{foreach from=$teamlist item="list" name="teamlist"}}
                            <li {{if $smarty.foreach.teamlist.index == "0"}}class="cu"{{/if}}>
                                <div class="l">
                                    <a href="{{$list.link}}"><div class="pic"><img src="{{$list.url}}" /></div><p>{{$list.title}}</p></a>
                                </div>
                                <div class="r">
	                                <p><a href="{{$list.url}}">{{$list.title}}</a></p>
	                                <p class="place">{{$list.desc}}</p>
	                                <p class="label" title="{{$list.label}}">{{$list.label}}</p>
                            </div>
                            <div class="clear"></div>
                            </li>
                        {{/foreach}}
                        </ul>
                    </div>
                </div>
            </div>