{{include file="$WWW_PATH/innerheader.html"}}
<body>
<script src="{:T('js/all.js')}"></script>
{{include file="$WWW_PATH/menu.html"}}
    <div class="fBn"><img src="{:T('img/fbn.jpg')}" /></div>
    {{include file="$WWW_PATH/rolling.html"}}
    <div class="wrap">
    	<div class="wL">
        	<div class="hd"><h3>栏目导航</h3></div>
            <div class="bd">
            	<ul>
                {{include file="$WWW_PATH/kehufuwu.html"}}
                </ul>
            </div>
        </div>
        <div class="wR">
        	<div class="bread">当前位置:<a href="{:U('home/default')}">首页</a>&gt;<a href="{:U('service/usernotice/detail/default.html')}">客户服务</a>&gt;<span>网上调查</span></div>
            <div class="bd">
            	<div class="inv">
                	<div class="titHd"><h2>{{$title}}</h2><div class="back"><a href="{:U('service/questionnaire/list/default.html')}">[返回列表]</a></div></div>
                    <div class="abs">
                    	<p>介绍：<em>{{$nofilter.content}}</em></p>
                        <p><span>开始时间：<em>{{$starttime}}</em></span><span>结束时间：<em>{{$endtime}}</em></span></p>
                    </div>
                    <form action="{:U('service/questionnaire/detail/insert.json')}" id="ajaxForm" >
                    <div class="divQues">
                    	<div class="divQuesLst" id="uiLst">
                    	<input type="hidden" name="data[id]" value="{{$id}}" />
                    	{{foreach from=$question item="q" name="questionloop"}}
                    	   <dl>
                                <dt><b>{{$smarty.foreach.questionloop.index+1}}.</b><p>{{$q.title}}<i>{{if $q.mutiflg == "1"}}[多选]{{else}}[单选]{{/if}}</i></p></dt>
                                <dd>
                                    <ul>
                                    {{foreach from=$q.option name="optionloop" item="o"}}
                                        {{if $q.mutiflg == "1"}}
                                            <li><span><input type="checkbox" class="chb" name="data[option][{{$o.id}}]" id="option{{$o.id}}" value="1"/></span><label for="option{{$o.id}}">{{$o.title}}</label></li>
                                        {{else}}
                                            <li><span><input type="radio" class="rad" name="data[option][{{$o.id}}]" id="option{{$o.id}}" value="1"/></span><label for="option{{$o.id}}">{{$o.title}}</label></li>
                                        {{/if}}

                                    {{/foreach}}
                                    {{*
                                    <li><span><input type="radio" class="rad" name="q1" id="qa1" /></span><label for="qa1">男</label></li>
                                    <li><span><input type="radio" class="rad" name="q1" id="qa2" /></span><label for="qa2">女</label></li>
                                    *}}
                                    </ul>
                                </dd>
                            </dl>
                    	{{/foreach}}
                    	{{*
                        	<dl>
                            	<dt><b>1.</b><p>性别？<i>[单选]</i></p></dt>
                                <dd>
                                    <ul>
                                    <li><span><input type="radio" class="rad" name="q1" id="qa1" /></span><label for="qa1">男</label></li>
                                    <li><span><input type="radio" class="rad" name="q1" id="qa2" /></span><label for="qa2">女</label></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                            	<dt><b>2.</b><p>喜好？<i>[多选]</i></p></dt>
                                <dd>
                                    <ul>
                                    <li><span><input type="checkbox" class="chb" name="q2" id="qb1" /></span><label for="qb1">男</label></li>
                                    <li><span><input type="checkbox" class="chb" name="q2" id="qb2" /></span><label for="qb2">女</label></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                            	<dt><b>3.</b><p>您喜欢的体位是哪些？<i>[多选]</i></p></dt>
                                <dd>
                                    <ul>
                                    <li><span><input type="checkbox" class="chb" name="q3" id="qc1" /></span><label for="qc1">男上女下</label></li>
                                    <li><span><input type="checkbox" class="chb" name="q3" id="qc2" /></span><label for="qc2">女上男下</label></li>
                                    <li><span><input type="checkbox" class="chb" name="q3" id="qc3" /></span><label for="qc3">观音坐莲</label></li>
                                    <li><span><input type="checkbox" class="chb" name="q3" id="qc4" /></span><label for="qc4">老汉推车</label></li>
                                    </ul>
                                </dd>
                            </dl>
                            *}}
                        </div>
                        <div class="btn"><a href="javascript:;" class="btnsFb btn4" onclick="submitForm('ajaxForm')">提交</a></div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    {{include file="$WWW_PATH/footer.html"}}
</div>
{{include file="$WWW_PATH/floatdiv.html"}}
<script>
function submitForm(id)
{
    $("#"+id).submit();
}

$(document).ready(function()
{
    $.setAjaxForm('#ajaxForm',function(response)
    {
           if(response.result == 'fail') {

               if($.type(response.message) == 'object')
               {
                   var str = new Array();
                   for (ms in response.message)
                   {
                       str.push(response.message[ms]);
                   }
                   alert(str.join('\n'));
               }

               if($.type(response.message) == 'string')
               {
                   alert(response.message);
               }

           } else {
               alert(response.message);
               location.href = "{:U('service/questionnaire/list/default.html')}";
           }
    });
});
</script>
</body>
</html>