<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{$title}}</title>
<!--[if lt IE 9]>
<script src='/chanzhieps/www/js/html5shiv/min.js?v=2.1' type='text/javascript'></script>
<script src='/chanzhieps/www/js/respond/min.js?v=2.1' type='text/javascript'></script>
<![endif]-->
<!--[if lt IE 10]>
<script src='/chanzhieps/www/js/jquery/placeholder/min.js?v=2.1' type='text/javascript'></script>
<![endif]-->
<link rel='stylesheet' href='css/all.css' type='text/css'   media='screen' />
<script src='js/jquery-1.8.3.min.js' type='text/javascript'></script>
</head>
<body>

	<div class="clearfix">
		<div class='form-group'>
			<div class='col-xs-6 col-md-6 col-md-offset-3 alert alert-info'>
				<i class='icon-info-sign'></i>
				<div class='content'>
					<h4>{{$la.forbidden.message}}</h4>
					<p>{{$la.forbidden.locate}}</p>
					<a href='{{$link}}' class='btn btn-primary' id='countDownBtn'>立即转向</a>
				</div>
			</div>
		</div>

	</div>


	<script language='Javascript'>
	$(function()
	{
	    setInterval(function()
	    {
	        var countDown = $('#countDown');
	        var count = parseInt(countDown.text());
	        if(count > 1)
	        {
	            countDown.text(count-1);
	        }
	        else
	        {
	            window.location.href = $('#countDownBtn').attr('href');
	        }
	    }, 1000);
	})

</script>
</body>
</html>
