label {
    padding-top: 10px;
}

i.icon-arrow-up,i.icon-arrow-down {
    cursor: pointer;
}

.is-visible {
	background-color: #DFF0D8 !important;
    color: #468847;
}

.is-unvisible {
    background-color: #D0D0D0 !important;
    color: #FF0000;
}