{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/top_menu.html"}}

    <div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
        <div class='col-md-10'>
            <div class='panel'>
                <div class='panel-heading'>
                    <strong><i class='icon-list-ul'></i>  {{$la.set.common}}</strong>
                    <div class='panel-actions'>
                        <a href='example_set-add-default.html'
                            class='btn btn-primary'><i class="icon-plus"></i>  {{$la.set.create}}</a>
                    </div>
                </div>
                    <form id='sortForm'
                    action='example_set-default-update.json' method='post'>
                    {{if !empty($list)}}
                    <table class='table table-hover table-bordered'>
                        <thead>
                            <tr class='text-center'>
                                <th>{{$la.set.sort}}</th>
                                <th>{{$la.set.picture}}</th>
                                <th>{{$la.set.title}}</th>
                                <!--
                                <th>{{$la.set.homepage}}</th>
                                 -->
                                <th>{{$la.actions}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{foreach from=$list item="record"}}
                            <tr class='text-middle'>
                                <td class='text-center'><i class='icon-arrow-up'></i> <i
                                    class='icon-arrow-down'></i> <input type='hidden'
                                    name='data[sort][{{$record.id}}]' id='data[sort][{{$record.id}}]'
                                    value='{{$record.sort}}' /></td>
                                <td class='text-center'>
                                <a target="_blank" href="{{$record.url}}"><img class="image-small" src="{{$record.url}}"></a></td>
                                <td class='text-center'>{{$record.title}}</td>
                                <!--
                                <td class='text-center {{if $record.homepage == "1"}}is-visible{{/if}}'>{{if $record.homepage=="1"}}<a href="system_topimage-edit-default-objecttype-yjmset-objectid-{{$record.id}}.modal" data-toggle='modal'>{{$la.yes}}</a>{{/if}}</td>
                                 -->
                                <td class='text-center'><a
                                    href='example_set-edit-default-id-{{$record.id}}.html'>{{$la.edit}}</a>
                                    <a href='example_set-default-delete-id-{{$record.id}}.json'
                                    class='deleter'>{{$la.delete}}</a></td>
                            </tr>
                            {{/foreach}}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan='6'>&nbsp; <input type='submit' id='submit'
                                    class='btn btn-primary' value='{{$la.set.savesort}}'
                                    data-loading='{{$la.loading}}' />
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>

    {{include file="$WWW_PATH/footer.html"}}

    {{ex fn='exportJs'}}

</body>
</html>
