@charset utf-8;
.fBn{margin-bottom:10px;}
.fBn img{width:1000px;display:block;}

.wrap{background:url(../img/wrap_bg.jpg) repeat-y 0 0;zoom:1;}
.wL{float:left;display:inline;width:180px;}
.wR{float:right;display:inline;width:811px;background:url(../img/bg.jpg) no-repeat center -73px;padding-top:10px;}

.wL .hd{height:37px;line-height:37px;background:#fff;border:1px solid #dadada;border-bottom:3px solid #0076bb;border-right:0;}
.wL .hd h3{background:url(../img/left_tit.jpg) no-repeat left center;padding-left:20px;font-size:16px;font-weight:bold;}
.wL .bd{}
.wL .bd ul li{height:35px;line-height:35px;font-size:14px;border-bottom:1px dashed #dadada;}
.wL .bd ul li:last-child{border-bottom:0;}
.wL .bd ul li a{display:block;height:35px;line-height:35px; position:relative; z-index:1;padding-left:20px;color:#666;}
.wL .bd ul li a i.mwIcon{ position:absolute;right:10px;top:10px;color:#999;}
.wL .bd ul li a:hover,.wL .bd ul li a:hover i.mwIcon{background:#fff;}
.wL .bd ul li.cu a,.wL .bd ul li.cu a i.mwIcon,.wL .bd ul li.cu a:hover,.wL .bd ul li.cu a:hover i.mwIcon{background:#0076bb;color:#fff;}

.wR .bread{height:37px;line-height:37px;padding-left:15px;color:#414141;}
.wR .bread a{margin:0 10px;}
.wR .bread span{margin-left:10px;color:#333;font-weight:bold;}
.wR .bd{padding:10px 20px 35px;zoom:1;}
.wR .bd h2{margin-bottom:10px;padding:5px 10px;font-size:18px; position:relative; z-index:1;}
.wR .bd h2 a{position:absolute;z-index:1;right:0;top:5px;}
.wR .bd h2 a i{margin-right:5px;}

/*文章详情*/
.pageInfo{padding:25px 0 35px;}
.pageInfo h1{line-height:35px;font-size:25px; text-align:center;margin-bottom:15px;}
.pageInfo .contrl{ text-align:center;margin-bottom:15px;color:#999;}
.pageInfo .contrl i{color:#999;margin:0 10px;}
.pageInfo .contrl span em{color:#414141;}
.pageInfo .contrl span a{margin:0 5px;}
.pageInfo .contrl span a.ctrlFont{padding:3px 5px;}
.pageInfo .contrl span a.cu{background:#0076bb;color:#fff;}
.pageInfo .pageInfoTxt{font-size:14px;line-height:25px;}
.pageInfo .pageInfoTxt p{}
.pageInfo .pageInfoTxt img{display:block;max-width:100%;}

/*文章文字列表*/
.pageLst{}
.pageLst h2{}
.pageLst ul li{line-height:35px;border-bottom:1px dashed #dadada; vertical-align:bottom;overflow:hidden;}
.pageLst ul li b{font-weight:normal;float:left;display:inline;width:670px;font-size:14px;padding-left:10px;background:url(../img/lstdot.jpg) no-repeat left 18px;}
.pageLst ul li i{float:right;display:inline;color:#999;font-size:12px;width:90px; text-align:right;}
.pageLst ul li b a{color:#414141;}
.pageLst ul li b a:hover{color:#0af;}

/*图片列表*/
.imgLst{}
.imgLst h2{}
.imgLst ul li{float:left;display:inline;width:222px;height:266px;margin:0 33px 10px 12px;}
.imgLst ul li.oth{margin-right:0;}
.imgLst ul li a{display:block; position:relative;overflow:hidden; text-align:center;}
.imgLst ul li a:hover{background:#f8f8f8;}
.imgLst ul li a .pic{width:200px;height:200px;overflow:hidden;background:#fff;border:1px solid #dadada;padding:10px;}
.imgLst ul li a img{position:relative; vertical-align:text-top;max-width:100%;}
.imgLst ul li a p{height:30px;line-height:30px;color:#414141;width:202px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;padding:0 10px; text-align:center;font-size:14px;}

/*公司大纪事*/
.chrl{}
.chrlLst{background:url(../img/list_bg.jpg) repeat-y 63px top;padding:10px 0;}
.chrlLst dl dt{background:#fff;padding-left:40px;font-size:18px;color:#414141;margin-bottom:25px;}
.chrlLst dl dd ul li{ position:relative; z-index:1;margin-bottom:25px;zoom:1;}
.chrlLst dl dd ul li a{transition:all 0.2s ease 0.3s;}
.chrlLst dl dd ul li .date{position:absolute;width:50px;height:50px;left:39px;top:0;background:url(../img/date.jpg) no-repeat center center #fff;padding:10px 0;}
.chrlLst dl dd ul li .date p{ position:relative; z-index:1;}
.chrlLst dl dd ul li .date p b{ position:absolute;font-weight:normal;color:#666;left:8px;top:2px;font-size:16px;}
.chrlLst dl dd ul li .date p em{ position:absolute;color:#666;left:26px;top:22px;font-size:14px;}
.chrlLst dl dd ul li .con{margin-left:105px;color:#414141;}
.chrlLst dl dd ul li .con h3{font-size:16px;line-height:30px;margin-bottom:5px;padding-top:10px;zoom:1;}
.chrlLst dl dd ul li .con .txt{line-height:24px;color:#999;}
.chrlLst dl dd ul li .con .txt p.img img{max-width:675px;display:block;}

/*通用表单*/
.publicForm{}
.publicForm .form .mod .l{width:80px;}
.publicForm .form .mod .r{width:691px;}
.publicForm .form .formBtn{margin-left:90px;}
.publicForm .form .formBtn a{margin-right:15px;}

/*提交简历*/
.resume{}
.resume .form h3{ text-align:center;margin-bottom:20px;background:#f1f1f1;font-size:14px;line-height:30px;}
.resume .rBasic{}
.resume .mod .l{width:90px;}
.resume .mod .r{width:680px;}
.resume .rBasic .mod{float:left;display:inline;width:260px;}
.resume .rBasic .mod .r{width:160px;}
.resume .rBasic .halfMod{width:390px;}
.resume .rBasic .halfMod .l{width:90px;}
.resume .rBasic .halfMod .r{width:290px;}
.resume .rBasic .forthMod{width:195px;}
.resume .rBasic .forthMod .l{width:90px;}
.resume .rBasic .forthMod .r{width:95px;}
.resume .rBasic .fullMod{width:780px;}
.resume .rBasic .fullMod .l{width:90px;}
.resume .rBasic .fullMod .r{width:680px;}

.resume .contactSelf .halfMod{width:390px;float:left;display:inline;}
.resume .contactSelf .halfMod .l{width:90px;}
.resume .contactSelf .halfMod .r{width:290px;}
.resume .formBtn{margin-left:100px;}
.resume .formBtn a{margin-right:15px;}

/*网上调查*/
.inv{}
.inv .lst{}
.inv .lst ul li{border-bottom:1px dashed #dadada;background:url(../img/lstdot.jpg) no-repeat 3px 15px;padding:5px 0 10px 10px;}
.inv .lst ul li dl dt{font-size:14px;line-height:30px;}
.inv .lst ul li dl dd{font-size:12px;line-height:24px;color:#999;}
.inv .lst ul li dl dd p em{color:#666;}
.inv .lst ul li dl dd p span{margin-right:15px;}

/*调查详情*/
.inv .titHd{overflow:hidden;}
.inv .titHd h2{float:left;display:inline;}
.inv .titHd .back{float:right;display:inline;line-height:30px;}
.inv .abs{border-bottom:1px dashed #dadada;font-size:14px;padding:0 10px 15px;color:#999;}
.inv .abs em{color:#666;}
.inv .abs p span{margin-right:15px;}

.divQues{}
.divQues .divQuesLst{margin-bottom:20px;}
.divQues .divQuesLst dl{border-bottom:1px solid #eee;padding:10px;zoom:1;}
.divQues .divQuesLst dl dt{overflow:hidden;font-size:14px;margin-bottom:10px;}
.divQues .divQuesLst dl dt b{float:left;display:inline;width:35px;}
.divQues .divQuesLst dl dt p{float:left;display:inline;width:725px;}
.divQues .divQuesLst dl dt p i{font-size:12px;margin:0 0 0 10px;color:#999;}
.divQues .divQuesLst dl dd{}
.divQues .divQuesLst dl dd ul li{overflow:hidden;padding:5px 5px 5px 35px;zoom:1;}
.divQues .divQuesLst dl dd ul li span{float:left;width:30px;margin:5px 0 0;*margin:0;margin:3px 0 0 \0\9;cursor:pointer;}
.divQues .divQuesLst dl dd ul li label{float:left;width:690px;line-height:24px; cursor:pointer;}
.divQues .divQuesLst dl.hov{background:#ffffe3;}
.divQues .divQuesLst dl dd ul li.hov{background:#b4e9ff;}
.divQues .btn{margin:0 0 0 40px;}

/*常见问题*/
.comPro{}
.comPro .lst{}
.comPro .lst dl{padding:0 5px 10px;}
.comPro .lst dl i{float:left;display:inline;width:16px;height:16px;line-height:16px;color:#fff; text-align:center; border-radius:3px;}
.comPro .lst dl dt,.comPro .lst dl dd{overflow:hidden;}
.comPro .lst dl dd{line-height:24px;color:#666;display:none;margin-top:10px;padding:0 5px 10px;}
.comPro .lst dl dt{font-size:15px;line-height:30px; cursor:pointer;padding:0 5px;}
.comPro .lst dl dt i{background:#d44a4a;font-size:11px;margin-top:7px;}
.comPro .lst dl dd i{background:#6ad44a;font-size:11px;margin-top:4px;}
.comPro .lst dl dt p,.comPro .lst dl dd p{float:left;display:inline;width:735px;margin-left:10px;}
.comPro .lst dl.open dd{display:block;}
.comPro .lst dl.open dt{background:#daedff;}
.comPro .comProType{overflow:hidden;padding:0 10px 15px;}
.comPro .comProType b{float:left;display:inline;width:60px;font-weight:normal;color:#999;height:26px;line-height:26px;}
.comPro .comProType p{float:left;display:inline;width:700px;}
.comPro .comProType p a{display:inline-block;height:26px;line-height:26px;padding:0 10px;margin-right:10px;font-size:14px;border-radius:15px;}
.comPro .comProType p a:hover{background:#f7f7f7;}
.comPro .comProType p a.cu{background:#f1f1f1;color:#414141;}

/*咨询列表*/
.consultLst{}
.consultLst .lst dl{border-bottom:1px dashed #dadada;padding:10px;zoom:1;}
.consultLst .lst dl dt{line-height:26px;}
.consultLst .lst dl dt .user{overflow:hidden;}
.consultLst .lst dl dt b{float:left;display:inline;width:120px;font-weight:normal;}
.consultLst .lst dl dt em{float:right;display:inline;width:120px;color:#999; text-align:right;}
.consultLst .lst dl dt p{width:100%;}
.consultLst .lst dl dd{line-height:24px;background:#f1f1f1; border-radius:3px;padding:10px;}

/*搜索列表*/
.schLst{padding:0 0 15px;zoom:1;}
.schLst h2{border-bottom:1px solid #dadada;margin-bottom:10px;font-size:16px;height:35px;}
.schLst .lst ul li{ border:1px dashed #dadada;padding:5px 10px;zoom:1;margin-bottom:10px;}
.schLst .lst ul li .tit{height:30px;line-height:30px;margin-bottom:5px;}
.schLst .lst ul li .tit b{float:left;display:inline;width:800px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;height:30px;line-height:30px;font-size:14px;}
.schLst .lst ul li .tit em{float:right;display:inline;width:160px;color:#999; text-align:right;}
.schLst .lst ul li .txt{line-height:24px;color:#666;}
.schLst .lst ul li.hov{background:#f1f1f1;border:1px solid #dadada;}
.schLst .lst ul li.noData{ text-align:center;color:#aaa;font-family:Verdana,"微软雅黑","SimHei";padding:50px 0 50px;font-size:18px;border:0;}