{{include file="$WWW_PATH/header.html"}}
<body>
    {{include file="$WWW_PATH/top_menu.html"}}

	<div class="clearfix">
    {{include file="$WWW_PATH/left_menu.html"}}
		<div class='col-md-10'>
			<div class='panel'>
				<div class='panel-heading'>
					<strong><i class='icon-list-ul'></i>&nbsp;{{$la.manage.common}}</strong>
				    </div>
				</div>
				{{if !empty($list)}}
				<!-- <form id='sortForm'
					action='/chanzhieps/www/admin.php?m=slide&f=sort' method='post'>-->
				  <table class='table table-hover table-striped tablesorter'>
				    <thead>
				      <tr>
		                <th class='text-center w-60px'>{{$la.manage.headimg}}</th>
				        <th class='text-left w-250px'>{{$la.manage.nickname}}({{$la.manage.remark}})</th>
				        <th class='text-center'>{{$la.manage.group}}</th>
				        <!-- <th class='text-center w-60px'><div class='{{if $orderby=="sex" and $sort=="desc"}}headerSortDown{{elseif $orderby=="sex" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href="{:U('member/manage/default/sort/currpage/{{$currpage}}/orderby/sex/sort/{{if $orderby == "sex"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}" >{{$la.manage.sex}}</a>
                </div></th>
				        <th class='text-center w-100px'>{{$la.manage.country}}</th>
				        <th class='text-center w-100px'>{{$la.manage.province}}</th>
				        <th class='text-center w-100px'>{{$la.manage.city}}</th>
				        -->
				        <th class='text-center w-90px'><div class='{{if $orderby=="subscribe" and $sort=="desc"}}headerSortDown{{elseif $orderby=="subscribe" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href="{:U('member/manage/default/sort/currpage/{{$currpage}}/orderby/subscribe/sort/{{if $orderby == "subscribe"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}" >{{$la.manage.subscribe}}</a>
                </div></th>
                        <th class='text-center w-160px'><div class='{{if $orderby=="subscribetime" and $sort=="desc"}}headerSortDown{{elseif $orderby=="subscribetime" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href="{:U('member/manage/default/sort/currpage/{{$currpage}}/orderby/subscribetime/sort/{{if $orderby == "subscribetime"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}" >{{$la.manage.subscribetime}}</a>
                </div></th>
                        <th class='text-center w-160px'><div class='{{if $orderby=="unsubscribetime" and $sort=="desc"}}headerSortDown{{elseif $orderby=="unsubscribetime" and $sort=="asc"}}headerSortUp{{else}}header{{/if}}'><a href="{:U('member/manage/default/sort/currpage/{{$currpage}}/orderby/unsubscribetime/sort/{{if $orderby == "unsubscribetime"}}{{$activesorting}}{{else}}{{$sorting}}{{/if}}.html')}" >{{$la.manage.unsubscribetime}}</a>
                </div></th>
				        <th class='text-center w-100px'>{{$la.actions}}</th>
				      </tr>
				    </thead>
				    <tbody>
				    {{foreach from=$list item="kv"}}
                        <tr>
                        <td class='text-center'>
                            <a target="_blank" href="{:U('wechat/weixin/message/chat/default/openid/{{$kv.openid}}/filetype/image.html')}" data-toggle="popover"
                                data-content="<b>{{$la.manage.sex}}：</b>{{$kv.sexname}}<br><b>{{$la.manage.country}}：</b>{{$kv.country}}<br><b>{{$la.manage.province}}：</b>{{$kv.province}}<br><b>{{$la.manage.city}}：</b>{{$kv.city}}" title="{{$kv.nickname}}"><img class="image-small" width="64" height="64" src="{{$kv.headimgurl}}" ></a>
                        </td>
                        <td class='text-left remarkname' style="word-wrap:break-word;word-break:break-all">{{$kv.nickname}}{{if $kv.remarkname != ""}}({{$kv.remarkname}}){{/if}}</td>
                        <td class='text-center'><a href="{:U('member/group/edit/default/memid/{{$kv.id}}/groupid/{{$kv.group}}.modal')}" memid="{{$kv.id}}" data-toggle="modal">{{$kv.groupname}}</a></td>
                        <!-- <td class='text-center'>{{$kv.sexname}}</td>
                        <td class='text-center'>{{$kv.country}}</td>
                        <td class='text-center'>{{$kv.province}}</td>
                        <td class='text-center'>{{$kv.city}}</td>
                         -->
                        <td class='text-center {{if $kv.subscribe == "1"}}is-visible{{else}}is-unvisible{{/if}}'>{{$kv.subscribename}}</td>
                        <td class='text-center'>{{if $kv.subscribetime != ''}}{:date('Y-m-d H:i:s',{{$kv.subscribetime}})}{{/if}}</td>
                        <td class='text-center'>{{if $kv.unsubscribetime != ''}}{:date('Y-m-d H:i:s',{{$kv.unsubscribetime}})}{{/if}}</td>
                        <td class='text-center'>
                          <!-- <a href='#' >{{$la.manage.groupeditor}}</a>-->
                          <a href='{:U('wechat/member/markname/edit/default/memid/{{$kv.id}}.modal')}' data-toggle="modal">{{$la.manage.remarkeditor}}</a>
			              <!-- <a href='article_manage-default-delete-id-{{$kv.id}}.json' class="deleter">{{$la.delete}}</a> -->
                        </td>
                        </tr>
				    {{/foreach}}
				          </tbody>
				    <tfoot><tr><td colspan='11'>
				    <div style='float:right; clear:none;' class='page form-inline'>
				    {{$pagelink}}
				        </div></td></tr></tfoot>
				  </table>
				  {{/if}}
			</div>
		</div>
	</div>
	{{include file="$WWW_PATH/footer.html"}}
    <script type="text/javascript">
    function closemodal($return)
    {
        if ($return.e == "selectgroup") {
            $.getJSON("{:U('wechat/member/manage/default/updategroup/memid/','',false)}" + $('a[openmodal="1"]').attr('memid') + '/groupid/' + $return.groupid + '.json',
            		function(data){
            	if (data.result == 'success') {
            		var a = $("a[openmodal='1']");
            		a.text($return.groupname);
                    var href = a.attr('href');
                    a.attr('href',href.substr(0,href.lastIndexOf('/')) + '/' +  $return.groupid + '.modal');
            	} else {
            		alert(data.message);
            	}
            	$('a[openmodal="1"]').removeAttr('openmodal');
            });
        }

        if ($return.e == "editremarkname") {
        	var td = $("a[openmodal='1']").parent().parent().find('.remarkname');
        	if(!td.text().indexOf('(')) {
        		td.text(td.text() + '(' + $return.remarkname + ')');
        	} else {
        		td.text(td.text().substr(0 , td.text().indexOf('(')) + '('+ $return.remarkname + ')');
        	}
        }
    }

    function openmodal(elem)
    {
        $(elem).attr("openmodal",'1');
    }
    </script>
    {{ex fn='exportJs'}}
</body>
</html>
